---
id: verification
title: Verification (Updated)
sidebar_label: Verification (Updated)
sidebar_position: 2
---

## Verify Everything Works

To verify, perform the following steps:

1. Use `pear run` to verify everything works as expected.

```
pear run --dev .
```

> A directory or link needs to be specified with `pear run`, here `.` denotes the current Project directory.

The app should open in development mode. In this mode developer tools are also opened.

![Running pear run --dev .](https://1301247912-files.gitbook.io/~/files/v0/b/gitbook-x-prod.appspot.com/o/spaces%2Fjdab83NqbLtX0WX9qY2n%2Fuploads%2Fgit-blob-bb2ac638a4339d32c410b9f9d5b544e1484ae808%2Fchat-app-1.png?alt=media)